{% extends "layouts.html" %}
<!-- Adapted from Grinberg, 2017 at https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-iii-web-forms/page/6-->
<!-- Adapted from Cardiff Uni Flask Labs, 2021 -->

{% block content %}

{{ super() }}

<h1>Sign In</h1>
<form action="" method="POST">
    {{ form.csrf_token }}
    <p id='username'>
        {{ form.email.label }}<br>
        {{ form.email(size=20) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p id='password'>
        {{ form.password.label }}<br>
        {{ form.password(size=20) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}