{% extends "layouts.html" %}

{% block content %}


    <h1>Privacy policy</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis accumsan erat, nec aliquam orci lobortis eu. Ut quis scelerisque augue, sed pellentesque nunc. Phasellus vehicula eu libero sit amet imperdiet. Integer aliquet, nulla id finibus pretium, est nunc iaculis tellus, eu tempor massa mi et orci. Aliquam erat volutpat. Vestibulum sodales et elit ut ullamcorper. Vivamus dolor quam, sagittis ac mauris sit amet, tempus tempor justo. Suspendisse erat nibh, sodales ac placerat quis, rhoncus non lectus. Fusce eu dolor sed sapien auctor ullamcorper. Vestibulum tincidunt interdum mi sit amet dignissim. Aenean sed tortor pulvinar, gravida magna nec, iaculis purus    </p>

    {% include "footer.html" %}

{% endblock %}

